.game-grid {
    max-width: fit-content;
    display: grid;
    margin: 0 auto;
}

.grid-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.team-control-display {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.team-control {
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls label {
    margin-right: 10px;
}
